{% if section.settings.is_free_shipping_bar %}
            {% assign promote_text = section.settings.promote_free_shipping_text | escape %}
            {% assign unlocked_text = section.settings.unlocked_free_shipping_text | escape %}
            {% assign threshold = section.settings.free_shipping_threshold | times: 100 %}
          
            {% assign value_left = threshold | minus: cart.total_price %}
            {% assign value_left_money = value_left | money %}
            <div class="announcement-bar__text text-align-{{ section.settings.alignment }}" data-promote="{{ promote_text }}" data-unlocked="{{ unlocked_text }}" data-threshold="{{ threshold }}">
              {% if value_left <= 0 %}
                <p class="announcement-bar__message">{{ unlocked_text }}</p>
                {% else %}
                <p class="announcement-bar__message">{{ promote_text | replace:'[value]', value_left_money }}</p>
              {% endif %}
            </div>
            
            {% else %}
              
            <div class="announcement-bar__text text-align-{{ section.settings.alignment }}"></div>
            
          {% endif %}
